# BHT Data Applications project
# Automatic Anime recommendation Algorithm
### This project aims to create an algorithm that can determine what anime to recommend to a user.
##### Authors: Rashmi Di Michino and Antonin Mathubert

The 320000 users and 16000 animes dataset was taken from https://www.kaggle.com/datasets/hernan4444/anime-recommendation-database-2020 <br>
We are going to use this dataset to build a model that can recommend an anime based on the animes that the user is watching, has dropped, has kept on hold or put on their watching list.

### 1. Importing and parsing the data
First, we want to import all of our available data in a suitable manner so it is treatable for the next steps of the project.<br><br>
Here, we are going to propose two methods to do that. The first one is very slow but the "clean" way to read json data. Because we don't actually need all the data from the files, we are going to use a second hand made method that is significantly faster.

In [5]:
from tqdm.notebook import tqdm
import pandas as pd
import numpy as np
import random
import json
import time
import os
import re

In [7]:
dataset = pd.read_csv("dataset/anime/animelist.csv")

In [ ]:
dataset = pd.read_csv("C:/Users/rashm/OneDrive/Desktop/data_applications_project/julius/anime_dataset/animelist.csv")

In [8]:
dataset.head(100)

    user_id  anime_id  rating  watching_status  watched_episodes
0         0        67       9                1                 1
1         0      6702       7                1                 4
2         0       242      10                1                 4
3         0      4898       0                1                 1
4         0        21      10                1                 0
..      ...       ...     ...              ...               ...
95        1      3972       7                1                48
96        1       481       8                1                25
97        1     22199       7                2                24
98        1      6547       6                2                13
99        1      9919       8                2                25

[100 rows x 5 columns]